body {
	margin: 0px;
	padding: 0px;
	overflow: hidden !important;
}

#main {
	height: 100%;
	overflow: hidden !important;
}

#content-wrapper {
	height: inherit;
	overflow: hidden !important;
	background-color: #303030;
}

#page-title {
	font-size: 5rem;
}